  <div class="container">

  <h1 class="turquoiseText"><%= @resume.first_name %> <%= @resume.last_name %></h1>

  <div class="row marginBottom marginTop">
    <div class="col-sm-3">
      <img src="<%= @resume.photo %>" id="photo"/>
    </div>
    <div class="col-sm-4">
      <h3>Email: </h3><p><%= @resume.email %></p>
      <h3>Phone: </h3><p><%= @resume.phone_number %></p>   
    </div>

    <div class="col-sm-1"></div>

    <div class="col-sm-4 grayBackground">
      <h3><a href="<%= @resume.linked_url %>">LinkedIn</a></h3>
      <h3><a href="<%= @resume.resume_url %>">Resume</a></h3>
      <h3><a href="<%= @resume.github_url %>">Github</a></h3>
      <h3><a href="<%= @resume.blog %>">Blog</a></h3>              
    </div>
  </div>

  <div class="row marginBottom">
    <div class="col-sm-7 grayBackground">
      <h3>Bio</h3><p><%= @resume.short_bio %></p>
    </div>

    <div class="col-sm-1"></div>

    <div class="col-sm-4 grayBackground">
    <h3>Skills</h3>
      <ul>
        <% @resume.skills.each do |skill| %>
          <li><h4><%= skill.name %></h4></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="row marginBottom">
    <div class="col-sm-7 grayBackground">
      <h3>Experience</h3> 
        <% @resume.experiences.each do |experience| %>     
            <h5>Job Title: <%= experience.job_title.capitalize %></h5>
            <h5>Company: <%= experience.company_name %></h5>
            <h5>From <%= experience.start_date %> through <%= experience.end_date %></h5>
            <h5>Details: <%= experience.details %></h5>
        <% end %>
    </div>

    <div class="col-sm-1"></div>

    <div class="col-sm-4" id="twitterFeed">
      <a class="twitter-timeline"  href="https://twitter.com/<%= @resume.twitter_handle %>">Tweets by @<%= @resume.twitter_handle %></a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>

  <div class="row marginBottom">
    <div class="col-sm-5 grayBackground">
      <h3>Education</h3>
        <% @resume.educations.each do |education| %>
            <h3>University: <%= education.university_name %></h3>
            <h4>Attended from <%= education.start_date %> through <%= education.end_date %></h4>
            <h4>Details: <%= education.details %></h4>       
        <% end %>   
    </div>
  </div>

</div>