  <div class="container">

  <h2 class="turquoiseText"><%= @resume.first_name %> <%= @resume.last_name %></h2>

  <div class="row marginBottom">
    <div class="col-sm-3">
      <h3>Photo:</h3><img src="<%= @resume.photo %>" id="photo"/>
    </div>
    <div class="col-sm-4">
      <h3>Email: </h3><p><%= @resume.email %></p>
      <h3>Phone: </h3><p><%= @resume.phone_number %></p>   
    </div>

    <div class="col-sm-1"></div>

    <div class="col-sm-4" id="socialMedia">
      <h3>LinkedIn: </h3><p><%= @resume.linked_url %></p>
      <h3>Link to resume: </h3><p><%= @resume.resume_url %></p>
      <h3>Github: </h3><p><%= @resume.github_url %></p>
      <h3>Blog: </h3><p><%= @resume.blog %></p>              
      <h3>Twitter: </h3><p><%= @resume.twitter_handle %></p>
    </div>
  </div>

  <div class="row marginBottom">
    <div class="col-sm-7" id="bio">
      <h3>Bio</h3><p><%= @resume.short_bio %></p>
    </div>

    <div class="col-sm-1"></div>

    <div class="col-sm-4" id="skills">
    <h3>Skills</h3>
    </div>
  </div>

  <div class="row marginBottom">
    <div class="col-sm-8" id="experiences">
      <h3>Experience</h3>
      <ul>
      <% @resume.experiences.each do |experience| %>
        <h5><%= experience.job_title %></h5>
        <li><%= experience.company_name %></li>
        <li><%= experience.start_date %></li>
        <li><%= experience.end_date %></li>
        <li><%= experience.details %></li>
      <% end %>
      </ul>
    </div>

    <div class="col-sm-1"></div>

    <div class="col-sm-3" id="twitterFeed">

  <a class="twitter-timeline"  href="https://twitter.com/<%= @resume.twitter_handle %>">Tweets by @<%= @resume.twitter_handle %></a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>

  <div class="row marginBottom">
    <div class="col-sm-5" id="educations">
      <h3>Education</h3>
      <% @resume.educations.each do |education| %>
        <%= education.university_name %>
        <%= education.start_date %>
        <%= education.end_date %>
        <%= education.details %>
      <% end %>      
    </div>
  </div>

</div>